In [12]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\vivek kumar singh\appdata\roaming\python\python311\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\vivek kumar singh\appdata\roaming\python\python311\site-packages (from pyspark) (0.10.9.7)

In [13]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [64]:
df_pyspark=spark.read.csv('book2.csv',header=True,inferSchema=True)

In [65]:
df_pyspark.printSchema()

root
 |-- Product Name: string (nullable = true)
 |-- Selling Price: integer (nullable = true)
 |-- DateTime: string (nullable = true)
 |-- Purchased By: string (nullable = true)
 |-- Cash/Card: string (nullable = true)
 |-- Broker: string (nullable = true)
 |-- Country Imported: string (nullable = true)

In [41]:
df_pyspark.show()

+---------------+-------------+----------+-------------+--------------+----------+----------------+
|   Product Name|Selling Price|      Date| Purchased By|Payment Method|    Broker|Country Imported|
+---------------+-------------+----------+-------------+--------------+----------+----------------+
|     Smartphone|         $600|02-03-2024| Emma Johnson|          Cash|XYZ Broker|           China|
|     Smartphone|         $600|02-03-2024| Emma Johnson|          Cash|XYZ Broker|           China|
|     Television|         NULL|03-03-2024| Michael Chen|          Card|DEF Broker|     South Korea|
|     Headphones|          $70|04-03-2024|    Sarah Lee|          Card|MNO Broker|           Japan|
|         Tablet|         $350|05-03-2024|   Emily Wang|          NULL|PQR Broker|          Taiwan|
|         Camera|         $700|06-03-2024|    David Kim|          Card|GHI Broker|         Germany|
|     Smartwatch|         $250|07-03-2024|         NULL|          Cash|JKL Broker|         Vietnam|
|       Speakers|         $120|      NULL|   Ryan Brown|          Card|RST Broker|           India|
| Gaming Console|         $500|09-03-2024|  Ethan Smith|          Card|UVW Broker|        Malaysia|
|Fitness Tracker|         $100|10-03-2024|  Olivia Chen|          Cash|XYZ Broker|       Singapore|
| Microwave Oven|         $200|11-03-2024|  Ava Johnson|          Card|MNO Broker|        Thailand|
|   Refrigerator|        $1500|12-03-2024|    Noah Wong|          Cash|GHI Broker|          France|
|   Coffee Maker|          $80|13-03-2024|   Sophia Lee|          Card|RST Broker|          Brazil|
|Air Conditioner|        $1200|14-03-2024|    James Kim|          Cash|PQR Broker|             UAE|
|        Blender|          $50|15-03-2024|   Mia Nguyen|          Card|DEF Broker|          Mexico|
| Vacuum Cleaner|         $250|16-03-2024|         NULL|          Card|JKL Broker|       Australia|
|        Printer|         $200|17-03-2024| Amelia Smith|          Cash|ABC Broker|          Canada|
|      Projector|         $600|18-03-2024| William Chen|          Card|UVW Broker|           Italy|
|          Drone|         $400|19-03-2024|Isabella Wang|          Card|MNO Broker|           Spain|
|    Rice Cooker|          $60|20-03-2024| Ethan Wilson|          Cash|GHI Broker|     Netherlands|
+---------------+-------------+----------+-------------+--------------+----------+----------------+
only showing top 20 rows

In [66]:
df1=df_pyspark.na.drop()

In [67]:
df1.show()

+---------------+-------------+----------------+------------+---------+----------+----------------+
|   Product Name|Selling Price|        DateTime|Purchased By|Cash/Card|    Broker|Country Imported|
+---------------+-------------+----------------+------------+---------+----------+----------------+
|     Smartphone|          500|18-03-2024 10:15| Alice Smith|     Card|XYZ Broker|           China|
|     Television|         1000|18-03-2024 10:30| Bob Johnson|     Cash|DEF Broker|     South Korea|
|         Tablet|          300|18-03-2024 11:00|   Sarah Lee|     Cash|PQR Broker|          Taiwan|
|     Smartwatch|          200|18-03-2024 11:30|  Karen Chen|     Cash|JKL Broker|         Vietnam|
| Gaming Console|          400|18-03-2024 12:00| James Smith|     Card|UVW Broker|        Malaysia|
|Fitness Tracker|           80|18-03-2024 12:15|Jennifer Liu|     Cash|XYZ Broker|       Singapore|
| Microwave Oven|          150|18-03-2024 12:30|   Eric Wang|     Card|MNO Broker|        Thailand|
|   Refrigerator|         1200|18-03-2024 12:45|    Linda Wu|     Cash|GHI Broker|          France|
|   Coffee Maker|           70|18-03-2024 13:00|  Daniel Lee|     Card|RST Broker|          Brazil|
|Air Conditioner|         1000|18-03-2024 13:15|Michelle Tan|     Card|PQR Broker|             UAE|
|        Blender|           40|18-03-2024 13:30| Ryan Nguyen|     Cash|DEF Broker|          Mexico|
| Vacuum Cleaner|          200|18-03-2024 13:45|Sophia Zhang|     Card|JKL Broker|       Australia|
|        Printer|          150|18-03-2024 14:00| Olivia Chen|     Card|ABC Broker|          Canada|
|      Projector|          500|18-03-2024 14:15|    Ethan Wu|     Cash|UVW Broker|           Italy|
|          Drone|          300|18-03-2024 14:30|  Ethan Chen|     Card|MNO Broker|           Spain|
|    Rice Cooker|           50|18-03-2024 14:45|  Grace Wang|     Card|GHI Broker|     Netherlands|
|    Rice Cooker|           50|18-03-2024 14:45|  Grace Wang|     Card|GHI Broker|     Netherlands|
|         Laptop|          800|19-03-2024 10:45|  David Wong|     Card|JKL Broker|             USA|
|     Smartphone|          500|19-03-2024 11:15|   Sarah Lee|     Card|XYZ Broker|           China|
|     Television|         1000|19-03-2024 11:30|Jennifer Liu|     Card|PQR Broker|     South Korea|
+---------------+-------------+----------------+------------+---------+----------+----------------+
only showing top 20 rows

In [68]:
df2 = df1.dropDuplicates()

In [52]:
df2.show()

+---------------+-------------+----------+------------+--------------+----------+----------------+
|   Product Name|Selling Price|      Date|Purchased By|Payment Method|    Broker|Country Imported|
+---------------+-------------+----------+------------+--------------+----------+----------------+
|        Printer|         $200|17-06-2024|  Sophia Kim|          Card|RST Broker|          Canada|
|         Laptop|         $900|01-03-2024|  John Smith|          Card|ABC Broker|             USA|
|      Projector|         $600|18-03-2024|William Chen|          Card|UVW Broker|           Italy|
|          Drone|         $400|13-06-2024|   Mia Smith|          Card|GHI Broker|           Spain|
|         Camera|         $700|15-06-2024| Ava Johnson|          Card|JKL Broker|         Germany|
| Microwave Oven|         $200|11-03-2024| Ava Johnson|          Card|MNO Broker|        Thailand|
|     Smartphone|         $600|02-03-2024|Emma Johnson|          Cash|XYZ Broker|           China|
|Fitness Tracker|         $100|10-03-2024| Olivia Chen|          Cash|XYZ Broker|       Singapore|
|       Speakers|         $120|20-06-2024|Ethan Nguyen|          Cash|XYZ Broker|           India|
|Fitness Tracker|         $100|16-06-2024|William Chen|          Cash|UVW Broker|       Singapore|
|     Television|        $1200|12-06-2024|Olivia Brown|          Cash|PQR Broker|     South Korea|
|        Blender|          $50|15-03-2024|  Mia Nguyen|          Card|DEF Broker|          Mexico|
|     Headphones|          $70|04-03-2024|   Sarah Lee|          Card|MNO Broker|           Japan|
|Air Conditioner|        $1200|14-03-2024|   James Kim|          Cash|PQR Broker|             UAE|
|    Rice Cooker|          $60|20-03-2024|Ethan Wilson|          Cash|GHI Broker|     Netherlands|
|        Printer|         $200|17-03-2024|Amelia Smith|          Cash|ABC Broker|          Canada|
| Microwave Oven|         $200|11-06-2024|Ethan Nguyen|          Card|XYZ Broker|        Thailand|
| Gaming Console|         $500|09-03-2024| Ethan Smith|          Card|UVW Broker|        Malaysia|
|         Tablet|         $350|14-06-2024| Noah Wilson|          Cash|DEF Broker|          Taiwan|
|         Laptop|         $900|09-06-2024|Daniel Smith|          Card|JKL Broker|             USA|
+---------------+-------------+----------+------------+--------------+----------+----------------+
only showing top 20 rows

In [71]:
df3 =df2.groupBy('Product Name').sum('Selling Price')
df3.show()

+---------------+------------------+
|   Product Name|sum(Selling Price)|
+---------------+------------------+
|       Speakers|               100|
|           Oven|               350|
|   Refrigerator|              2400|
|     Smartwatch|               200|
| Microwave Oven|               150|
|      Projector|               500|
|         Laptop|              2400|
|Air Conditioner|              2000|
|        Blender|                80|
| Vacuum Cleaner|               200|
|Fitness Tracker|               160|
|         Camera|               600|
|   Coffee Maker|                70|
|     Television|              2000|
|Washing Machine|               700|
|         Tablet|               600|
|    Rice Cooker|                50|
|          Drone|               300|
|        Printer|               300|
|     Smartphone|              1000|
+---------------+------------------+
only showing top 20 rows

In [ ]:
df3.write.csv('newcsv.csv', header=True)